html, body {
	height: 100%;
	width: 100%;
}

body {
	padding-bottom: 300px;
}

.jumbotron {
	background-color: #fff;
}

.glyphicon {
	margin-right: 1em;
}

a {
	color: #3E8EDE;
	text-decoration: none;
}

a:hover, a:active {
	color: #346094;
	border-bottom: 2px solid #346094;
	text-decoration: none;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	display: -webkit-flex;
	-webkit-justify-content: center;
  	-webkit-align-items: center;
}

.buttons {
	margin-top: 4em;
}

.buttons p {
	margin-top: 2em;
}

ul {
	margin-top: 5em;
	margin-bottom: 0em;
	list-style: none;
	margin-left: 0em;
	margin-right: 0em;
	padding: 0em;
}

li {
	margin: 0em 0em 1em 0em;
	font-size: 22px;
	line-height: 36px;
	padding: 0em;
}

h1 {
	color: #333333;
	font-family: 'Georgia', serif;
	line-height: 80px;
	margin: 0em;
	padding: 0em;
}

h2, li, p {
	color: #333333;
	font-family: 'Gudea', Arial, sans-serif;
	line-height: 30px;
}

#copy {
	margin-top: 3.5em;
	margin-bottom: 3em;
}

#intro {
	border-top: 10px solid #3E8EDE;
}

#benefits {
	background-color: #3E8EDE;
	/*padding-top: 6em;*/
}

#benefits h1, #benefits h2, #benefits li, #benefits p {
	color: #fff;
}

#footer {
	background-color: #646569;
	text-align: center;
}

img {
	width: 18%;
	min-width: 200px;
	max-width: 342px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.btn-xlg {
	width: 40%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	line-height: normal;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 0em;
}

.btn-white {
	color: #3E8EDE; 
 	background-color: #FFFFFF; 
 	border-color: #FFFFFF; 
 	margin-bottom: 1em;
}

.btn-white:hover, 
.btn-white:focus, 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
 	color: #FFFFFF; 
	background-color: #646569; 
 	border-color: #646569; 
} 
 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
 	background-image: none; 
} 
 
.btn-white.disabled, 
.btn-white[disabled], 
fieldset[disabled] .btn-white, 
.btn-white.disabled:hover, 
.btn-white[disabled]:hover, 
fieldset[disabled] .btn-white:hover, 
.btn-white.disabled:focus, 
.btn-white[disabled]:focus, 
fieldset[disabled] .btn-white:focus, 
.btn-white.disabled:active, 
.btn-white[disabled]:active, 
fieldset[disabled] .btn-white:active, 
.btn-white.disabled.active, 
.btn-white[disabled].active, 
fieldset[disabled] .btn-white.active { 
 	background-color: #646569; 
 	border-color: #646569; 
} 
 
.btn-blue .badge { 
 	color: #3E8EDE; 
 	background-color: #FFFFFF; 
}

.btn-blue { 
 	color: #FFFFFF; 
 	background-color: #3E8EDE; 
 	border-color: #3E8EDE; 
 	margin-bottom: 1em;
} 
 
.btn-blue:hover, 
.btn-blue:focus, 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
 	color: #FFFFFF; 
	background-color: #346094; 
 	border-color: #346094; 
} 
 
.btn-blue:active, 
.btn-blue.active, 
.open .dropdown-toggle.btn-blue { 
 	background-image: none; 
} 
 
.btn-blue.disabled, 
.btn-blue[disabled], 
fieldset[disabled] .btn-blue, 
.btn-blue.disabled:hover, 
.btn-blue[disabled]:hover, 
fieldset[disabled] .btn-blue:hover, 
.btn-blue.disabled:focus, 
.btn-blue[disabled]:focus, 
fieldset[disabled] .btn-blue:focus, 
.btn-blue.disabled:active, 
.btn-blue[disabled]:active, 
fieldset[disabled] .btn-blue:active, 
.btn-blue.disabled.active, 
.btn-blue[disabled].active, 
fieldset[disabled] .btn-blue.active { 
 	background-color: #346094; 
 	border-color: #346094; 
} 
 
.btn-blue .badge { 
 	color: #3E8EDE; 
 	background-color: #FFFFFF; 
}

/* Small Devices, Tablets */
 @media only screen and (max-width: 768px) {	
	#intro {
		padding-top: 1em;
		padding-bottom: 0.5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#intro h1 {
		text-align: left;
	}
	
	#copy {
		text-align: left;
		margin-top: 3em;
	}
	
	#benefits {
		padding-top: 5em;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	
	#benefits h1, #benefits ul {
		text-align: left;
	}

	.buttons {
		margin-top: 1em;
	}
	
	ul {
		display: block;
		margin-top: 5em;
		margin-bottom: 5em;
	}
	
	#bottom {
		/*padding-bottom: 2em;*/
	}
	
	img {
		width: 30%;
		min-width: 150px;
	}
	
	p {
		margin-top: 1em;
	}

	h1 {
		line-height: 50px;
	}
	
	.btn-xlg {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

/* Small Devices */
@media only screen and (max-width: 480px) {	
	#intro {
		padding-top: 3em;
		padding-bottom: 3em;
	}

	h1 {
		line-height: 35px;
	}

	p {
		line-height: 22px;
	}
}